body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header, nav, main, footer {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 100px auto;
    gap: 10px;
  }
  input[type="text"], input[type="password"] {
    background-color: #f0f0f0;
    font-family: Verdana;
  }
  
  @media (max-width: 600px) {
    .login-container {
      width: 90%;
    }
  }

  footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 2em;
    font-family: 'Minha fonte';

    position: fixed;
    bottom: 0px;
    width: 100%;
}